<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Travel Crush: Match 3</h1>
        <picture>
            <source srcset="
                      /img/home/logo-desk.png 1x,
                      /img/home/logo-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                       /img/home/logo-mob.png 1x,
                      /img/home/logo-mob@2x.png 2x
                       " media="(max-width: 1439px)" />
            <img class="home-logo" src="/img/home/logo-mob.png" alt="Travel Crush: Match 3" loading="lazy" />
        </picture>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.bebopbee.match3.travelcrush&hl=en&gl=us">
            <img src="/img/home/play.png" alt="google play" loading="lazy">
        </a>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
            <h2 class="about-title">About the Game</h2>
         <picture>
            <source srcset="
                      /img/about/desk.png 1x,
                      /img/about/desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                       /img/about/mob.png 1x,
                      /img/about/mob@2x.png 2x
                       " media="(max-width: 1439px)" />
            <img class="about-img" src="/img/about/mob.png" alt="Travel Crush: Match 3" loading="lazy" />
        </picture>   
        <h3 class="about-subtitle">Travel meets puzzle gameplay</h3>        
        <p class="about-text">Every level you beat in Travel Crush feels like you're actually taking another step on your trip. As players complete
        puzzles, they unlock new destinations and visually move forward across the map. It's this cool mix where you can chill
        out with the puzzles but still feel like you're going somewhere.</p>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container">
        <h2>How to Play</h2>
        <div class="how-wrapper">
         <picture>
            <source srcset="
                      /img/how/desk.png 1x,
                      /img/how/desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                       /img/how/mob.png 1x,
                      /img/how/mob@2x.png 2x
                       " media="(max-width: 1439px)" />
            <img src="/img/how/mob.png" alt="Travel Crush: Match 3" loading="lazy" />
        </picture>  
        <ul class="how-list">
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Easy to start, fun to master</p>
            </li>
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Match three or more identical pieces</p>
            </li>
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Complete level objectives</p>
            </li>
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Use boosters for complex situations</p>
            </li>
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Progress through travel locations</p>
            </li>
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Unlock new areas as you advance</p>
            </li>
        </ul>           
        </div>
    </div>
</section>