<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Travel Crush: Match 3</h1>
        <picture>
            <source srcset="
                      /img/home/logo-desk.png 1x,
                      /img/home/logo-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                       /img/home/logo-mob.png 1x,
                      /img/home/logo-mob@2x.png 2x
                       " media="(max-width: 1439px)" />
            <img class="home-logo" src="/img/home/logo-mob.png" alt="Travel Crush: Match 3" loading="lazy" />
        </picture>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.bebopbee.match3.travelcrush&hl=en&gl=us">
            <img src="/img/home/play.png" alt="google play" loading="lazy">
        </a>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
            <h2 class="about-title">About the Game</h2>
         <picture>
            <source srcset="
                      /img/about/desk.png 1x,
                      /img/about/desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                       /img/about/mob.png 1x,
                      /img/about/mob@2x.png 2x
                       " media="(max-width: 1439px)" />
            <img class="about-img" src="/img/about/mob.png" alt="Travel Crush: Match 3" loading="lazy" />
        </picture>   
        <h3 class="about-subtitle">Travel meets puzzle gameplay</h3>        
        <p class="about-text">Every level you beat in Travel Crush feels like you're actually taking another step on your trip. As players complete
        puzzles, they unlock new destinations and visually move forward across the map. It's this cool mix where you can chill
        out with the puzzles but still feel like you're going somewhere.</p>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container">
        <h2>How to Play</h2>
        <div class="how-wrapper">
         <picture>
            <source srcset="
                      /img/how/desk.png 1x,
                      /img/how/desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                       /img/how/mob.png 1x,
                      /img/how/mob@2x.png 2x
                       " media="(max-width: 1439px)" />
            <img src="/img/how/mob.png" alt="Travel Crush: Match 3" loading="lazy" />
        </picture>  
        <ul class="how-list">
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Easy to start, fun to master</p>
            </li>
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Match three or more identical pieces</p>
            </li>
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Complete level objectives</p>
            </li>
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Use boosters for complex situations</p>
            </li>
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Progress through travel locations</p>
            </li>
            <li class="how-item">
                <img src="/img/how/plane.png" alt="plane" loading="lazy">
                <p>Unlock new areas as you advance</p>
            </li>
        </ul>           
        </div>
    </div>
</section>
<section class="core-section" id="core">
    <div class="container">
        <div class="core-wrapper">
            <h2>Core Features</h2>
            <div class="core-wrap">
                <img class="core-img" src="/img/core/mob.png" alt="Travel Crush: Match 3" loading="lazy">
                <ul class="core-list">
                    <li class="core-item c1">
                        <p>Built for engagement and discovery</p>
                    </li>
                    <li class="core-item c2">
                        <p>Match-3 gameplay with evolving levels</p>
                    </li>
                    <li class="core-item c3">
                        <p>Travel-based progression system</p>
                    </li>
                </ul>
                <ul class="core-list core-list-two">
                    <li class="core-item c4">
                        <p>Unlockable destinations</p>
                    </li>
                    <li class="core-item c5">
                        <p>Colorful and dynamic visuals</p>
                    </li>
                    <li class="core-item c6">
                        <p>Short, replayable sessions</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="gallery-section" id="gallery">
    <div class="container">
        <h2>Gallery</h2>
        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/img/gallery/one.png" alt="Gallery" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="/img/gallery/two.png" alt="Gallery" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="/img/gallery/three.png" alt="Gallery" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="/img/gallery/four.png" alt="Gallery" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="/img/gallery/five.png" alt="Gallery" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="/img/gallery/six.png" alt="Gallery" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="/img/gallery/seven.png" alt="Gallery" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="/img/gallery/eight.png" alt="Gallery" loading="lazy">
                </div>
            </div>
        <div class="gallery-btn">
            <button class="gallery-prev btn">
                <img src="/img/gallery/left.png" alt="prev" loading="lazy">
            </button>
            <button class="gallery-next btn">
                <img src="/img/gallery/right.png" alt="next" loading="lazy">
            </button></div>
        </div>
    </div>
</section>
<section class="reviews-section" id="reviews">
    <div class="container">
        <h2>Player Reviews</h2>
        <div class="reviews-container">
         <picture>
            <source srcset="
                      /img/reviews/desk.png 1x,
                      /img/reviews/desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                       /img/reviews/mob.png 1x,
                      /img/reviews/mob@2x.png 2x
                       " media="(max-width: 1439px)" />
            <img src="/img/reviews/mob.png" alt="Travel Crush: Match 3" loading="lazy" />
        </picture>              
        <div class="reviews-wrapper">
            <div class="swiper reviews-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="avatar-wrapper">
                            <img src="/img/reviews/one.png" alt="avatar" loading="lazy">
                            <p class="author">TravelFan :</p>
                        </div>
                        <p>“This is such a clever concept! Getting to 'visit' new places just by playing puzzles is really satisfying.”</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="avatar-wrapper">
                            <img src="/img/reviews/two.png" alt="avatar" loading="lazy">
                            <p class="author">PuzzleTrip :</p>
                        </div>
                        <p>“Addictive gameplay and nice progression system.”</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="avatar-wrapper">
                            <img src="/img/reviews/three.png" alt="avatar" loading="lazy">
                            <p class="author">SunnyRoute:</p>
                        </div>
                        <p>“Great little time-killer, and I love how they worked in the travel theme.”</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="avatar-wrapper">
                            <img src="/img/reviews/four.png" alt="avatar" loading="lazy">
                            <p class="author">Emma W. :</p>
                        </div>
                        <p>“Fun and colorful game. Great for relaxing.”</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="avatar-wrapper">
                            <img src="/img/reviews/five.png" alt="avatar" loading="lazy">
                            <p class="author">Alex M.:</p>
                        </div>
                        <p>“Good mix of puzzles and visual variety.”</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="avatar-wrapper">
                            <img src="/img/reviews/six.png" alt="avatar" loading="lazy">
                            <p class="author">MapExplorer:</p>
                        </div>
                        <p>“Honestly didn’t expect to enjoy the travel part this much.”</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="bg">
    <article class="why-section" id="why">
        <div class="container why-container">
            <div class="why-wrapper">
                <h2>Why Play?</h2>
                <p><span class="span">Travel Crush: Match 3</span>  combines relaxing puzzles, rewarding progression, and exciting new destinations into one colorful
                adventure you can enjoy anytime, anywhere. Every level keeps the journey feeling fresh and satisfying.</p>
                <p class="why-text">Download now on Google Play and start exploring.</p>
        <a class="why-link" href="https://play.google.com/store/apps/details?id=com.bebopbee.match3.travelcrush&hl=en&gl=us">
            <img src="/img/home/play.png" alt="google play" loading="lazy">
        </a>
            </div>
        </div>
    </article>
    <article class="contact-section" id="contact">
        <div class="container contact-container">
            <div class="contact-wrapper">
                <h2>Contact</h2>
                <p class="contact-text">Stay connected</p>
                <a class="contact-link" href="mailto:info@cornerdigital.pro">Email: info@cornerdigital.pro</a>
            </div>            
        </div>
    </article>
</section>