body{
  background: #8079cc;
  font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #342e4f;
}
h2{
  font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #fedc28;
    margin-bottom: 28px;
}