.footer {
background: #dcadf4;
}
.footer-container{
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 16px;
  font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #342e4f;
}
.footer-text{
  font-size: 12px;
}
@media only screen and (min-width: 1440px) {
 .footer-container{
  gap: 50px;
  align-items: center;
 }
 .footer-navigation{
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
 }
}