.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 380px;
}
.home-logo{
    margin-top: 100px;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
height: 753px;
}
.home-container{
    align-items: start;
    gap: 46px;
}
.home-logo{
    margin-top: 100px;
} 
.home-link{
    margin-left: 200px;
}
}
/* About the Game */
.about-subtitle{
    margin-top: 22px;
    font-family: "Baloo 2", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        color: #dcadf4;
margin-bottom: 24px;
}
.about-container{
    padding-top: 80px;
}
@media only screen and (min-width: 1440px) {
.about-container{
    position: relative;
    padding-top: 150px;
}
.about-title{
    margin-left: 800px;
    text-align: left;
}
.about-img{
    position: absolute;
    left: 14%;
    top: 28%;
}
.about-subtitle{
    margin-left: 800px;
    text-align: left;
}
.about-text{
    margin-left: 800px;
    width: 414px;
}
}